<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Auth index </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <main class="flex flex-col items-center justify-center min-h-screen w-full bg-zinc-900 text-white">


        <form action="/auth/user" method="post" class="flex flex-col items-center border p-4 min-h-[60vh] w-[60vw] ">



            <h1 class="text-2xl font-normal my-2"> Login </h1>
            <div>
                <input type="text" placeholder="Enter your email" class="px-3 py-1 rounded-md">
            </div>
            <div>
                <input type="password" placeholder="Enter your password" class="px-3 py-1 rounded-md">
            </div>

            <input type="submit" value="submit">
            

        </form>









    </main>



</body>

</html>