* {
    padding: 0;
    margin: 0;
}

.hbox {
    height: 50px;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logobox {
    flex: 1;
    /* border: 1px solid white; */
    padding-left: 10px;
    color: white;
}

.navlink {
    padding-right: 30px;
    /* border: 1px solid white; */
    flex: 3;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-family: cursive;
    /* font-weight: bold; */
}

.navurl {
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.navurl:hover {
    color: rgb(196, 196, 196);
}


.navBtn{
    margin-left: 50px;
}

.navlink>button {
    
    background-color: rgb(124, 112, 233);
    padding: 5px 7px;
    border-radius: 4px;
   
}